*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxbaohanh{
    height: 70%;
    width: 80%;
    background-color:antiquewhite;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

}
.boxbaohanh p:nth-child(1){
    text-align: center;
    color: red;
    margin-top: -70px;
    font-size: 100px;
    font-weight: bold;
}
.boxbaohanh p{
    margin-left: 10px;
}
.boxbaohanh h3{
    margin-left: 5px;
}

