* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.search-order-bg,
.list-orders {
  position: relative;
  top: 50px;
  width: 100%;
}
.list-orders p,
.search-order-bg p,
.info-order-bg p {
  font-weight: 900;
  font-size: 25px;
  text-align: center;
}

.list-orders p {
  margin-bottom: 10px;
  color: rgb(77, 77, 242);
}
.search-order-bg input,
.search-order-bg label {
  margin-left: 20px;
  margin-top: 10px;
  overflow: hidden;
}
.search-order-bg label:nth-child(1) {
  margin-left: 0;
}
.search-order-bg .search-order-box {
  width: 100%;
  border-radius: 5px;
  border: solid;
  margin: 0 auto;
  display: flex;
  padding: 10px 0;
}
.search-order-bg input,
.search-order-bg select {
  padding: 5px;
  border-radius: 5px;
  border: solid;
  outline: none;
  margin-left: 10px;
}
@media (max-width: 650px) {
  .search-order-bg .search-order-box {
    overflow: auto;
  }
  .list-orders .order li:not(:last-child) {
    overflow: auto;
  }
}
.search-order-bg button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  margin-left: 20px;
  font-weight: bold;
  min-width: 10%;
}
.search-order-bg button:hover {
  background-color: rgb(70, 69, 69);
  cursor: pointer;
}
.search-order-bg select {
  margin-left: 20px;
  margin-top: 10px;
}
.search-order-bg .search-date {
  width: 60%;
  border-right: solid;
  margin: auto;
  padding-left: 10px;
}
.search-order-bg .search-txt {
  width: 40%;
}
.list-orders {
  top: 70px;
  text-align: center;
  padding: 10px 40px;
  font-size: 12px;
  font-weight: 900;
  border: solid;
  border-radius: 5px;
}
li {
  list-style: none;
}
.list-orders .top-list ul,
.list-orders .order ul {
  display: flex;
  width: 100%;
  border: none;
}
.orders > li:not(:last-child) {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.top-list {
  background-color: #272424;
  color: white;
}
.order ul li {
  padding: 5px;
}
.top-list ul > li:not(:last-child) {
  border-right: 1px solid black;
}
.order ul > li:not(:last-child) {
  border-right: 1px solid black;
}
.orders > li:last-child {
  border: solid 1px black;
}
.top-list ul li:nth-child(1) {
  line-height: 30px;
  width: 10%;
}
.top-list ul li:nth-child(2) {
  line-height: 30px;
  width: 15%;
}
.top-list ul li:nth-child(3) {
  line-height: 30px;
  width: 15%;
}
.top-list ul li:nth-child(4) {
  width: 15%;
  line-height: 30px;
}
.top-list ul li:nth-child(5) {
  width: 15%;
  line-height: 30px;
}
.top-list ul li:nth-child(6) {
  width: 15%;
  line-height: 30px;
}
.top-list ul li:nth-child(7) {
  width: 15%;
  line-height: 30px;
}

.order ul li:nth-child(1) {
  width: 10%;
}
.order ul li:nth-child(2) {
  width: 15%;
}
.order ul li:nth-child(3) {
  width: 15%;
}
.order ul li:nth-child(4) {
  width: 15%;
}
.order ul li:nth-child(5) {
  width: 15%;
}
.order ul li:nth-child(6) {
  width: 15%;
}
.order ul li:nth-child(7) {
  width: 15%;
}
.list-orders button {
  border: none;
  padding: 2px;
  margin-top: 5px;
  width: 90%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
}
.list-orders button:hover ~ span {
  display: block;
}
.btn {
  position: relative;
}
.btn span {
  display: none;
  position: absolute;
  top: 103%;
  width: 100%;
  border-radius: 10px;
  background-color: #272424c4;
  color: white;
  padding: 5px;
  left: 0;
  z-index: 10;
}
.search-order-bg label {
  font-weight: bold;
}
#date-begin,
#date-end {
  font-weight: bold;
  height: 30px;
}
.list-orders .order ul li:not(:last-child) {
  display: flex;
  align-items: center;
}
.confirm-order,
.cancel-order,
.info-order {
  cursor: pointer;
}
.confirm-order {
  background-color: rgb(10, 199, 10);
}
.cancel-order {
  background-color: rgb(205, 5, 5);
}
.info-order {
  background-color: blue;
}
.list-page {
  padding: 10px;
  text-align: center;
  list-style: none;
}
.list-page li {
  user-select: none;
  border: solid;
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
.list-page .page-current {
  background-color: #272424;
  color: white;
}
@media (max-width: 1023px) {
  .list-orders {
    padding: 10px 0;
  }
}
.notification .bx-check {
  border-radius: 50%;
  border: solid white;
  background-color: white;
  color: rgb(10, 199, 10);
  margin-right: 3px;
}
.notification {
  visibility: hidden;
  position: fixed;
  height: 45px;
  z-index: 11;
  top: 11px;
  right: 100px;
  color: white;
}
.notification div {
  visibility: hidden;
  padding: 10px;
  animation: showNotification 3s linear;
}
.info-order-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 11;
  background-color: #79787899;
}
.info-order-bg .info-order-box {
  width: 500px;
  background-color: white;
  font-size: 20px;
  padding: 20px;
  color: red;
  border-radius: 10px;
  margin: 150px auto;
  animation: show-info-order 0.25s linear;
}
.info-order-bg .infor {
  margin-top: 10px;
  font-weight: bold;
  display: flex;
  width: 100%;
}
.info-order-bg .info-order-box .infor span:nth-child(1) {
  width: 35%;
}
.info-order-bg .infor span:nth-child(2) {
  color: black;
  width: 70%;
}
.info-order-bg i {
  float: right;
  color: black;
  font-size: 30px;
}
.hide {
  display: none;
}
@keyframes show-info-order {
  from {
    transform: translateY(-500px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.not-found {
  font-size: 25px;
  padding: 50px;
  border: solid;
  border-radius: 10px;
}
.info-order-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 11;
  background-color: #79787899;
}
.info-order-bg .info-order-box {
  width: 500px;
  background-color: white;
  font-size: 20px;
  padding: 20px;
  color: red;
  border-radius: 10px;
  margin: 150px auto;
  animation: show-info-order 0.25s linear;
}
.info-order-bg .infor {
  margin-top: 10px;
  font-weight: bold;
  display: flex;
  width: 100%;
}
.info-order-bg .info-order-box .infor span:nth-child(1) {
  width: 35%;
}
.info-order-bg .infor span:nth-child(2) {
  color: black;
  width: 70%;
}
.info-order-bg i {
  float: right;
  color: black;
  font-size: 30px;
}
@keyframes show-info-order {
  from {
    transform: translateY(-500px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 520px) {
  .info-order-bg .info-order-box {
    height: 100%;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
}
