* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.add-product img {
  width: 50%;
}
.add-product p,
.search-product-bg p {
  font-weight: bold;
  font-size: 30px;
}
.add-product p{
  color: red;
}
.add-product,
.search-product-bg {
  font-size: 20px;
  box-shadow: 0 0 2px;
  border-radius: 10px;
  position: relative;
  top: 50px;
}
.add-product form {
  display: flex;
  width: 100%;
}
.add-product form > div {
  width: 50%;
  padding: 10px;
}
.add-product form label {
  display: block;
}
.add-product form input {
  line-height: 30px;
  width: 100%;
  border: none;
  border-bottom: solid;
  outline: none;
}
.add-product form :nth-child(4) {
  display: inline-block;
}
.add-product form div :not(:first-child) {
  margin-top: 10px;
}
.add-product form div:nth-child(1) :nth-child(11) {
  border: none;
}
.add-product form div:nth-child(2) :nth-child(13),
.add-product form div:nth-child(2) :nth-child(14) {
  height: 30px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
}
.add-product form div:nth-child(2) :nth-child(13) {
  background-color: rgb(14, 207, 14);
}
.add-product form div:nth-child(2) :nth-child(14) {
  background-color: blue;
}
.notification {
  visibility: hidden;
  position: fixed;
  height: 45px;
  z-index: 11;
  top: 11px;
  right: 100px;
  color: white;
}
.notification div {
  visibility: hidden;
  padding: 10px;
  animation: showNotification 3s linear;
}
.notification .bx-check {
  border-radius: 50%;
  border: solid white;
  background-color: white;
  color: rgb(10, 199, 10);
  margin-right: 3px;
}
.error {
  background-color: rgb(205, 5, 5);
}
.complete {
  background-color: rgb(10, 199, 10);
}
.notification .bx-x {
  border-radius: 50%;
  border: solid white;
  background-color: white;
  color: rgb(205, 5, 5);
  margin-right: 3px;
}
@keyframes showNotification {
  0% {
    opacity: 0;
  }
  10% {
    visibility: visible;
    opacity: 1;
  }
  90% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hide {
  display: none;
}
.search-product-bg {
  width: 100%;
  top: 70px;
}
.search-product-bg .search-box {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px 40px;
}
.search-product-bg .search {
  display: flex;
  border-radius: 5px;
  border: solid;
  padding: 5px;
  margin: 10px 0;
}
.search-product-bg input {
  width: 100%;
  outline: none;
  border: none;
}
@media (max-width: 769px) {
  .add-product form {
    flex-wrap: wrap;
  }
  .add-product form > div {
    width: 100%;
    padding: 30px;
  }
  .add-product img {
    width: 25%;
  }
}
